.ipynb_checkpoints
b2fplasmf
__pycache__/reconstructing.cpython-39.pyc
data_Heating_Geo/fhe_b2fplasmf_al_8MW_noNe.npy
data_Heating_Geo/fhe_b2fplasmf_al_16MW_noNe.npy
data_Heating_Geo/fhe_b2fplasmf_al_32MW_noNe.npy
data_Heating_Geo/fhe_b2fplasmf_co_8MW_noNe.npy
data_Heating_Geo/fhe_b2fplasmf_co_16MW_noNe.npy
data_Heating_Geo/fhe_b2fplasmf_co_32MW_noNe.npy
data_Heating_Geo/fhi_b2fplasmf_al_8MW_noNe.npy
data_Heating_Geo/fhi_b2fplasmf_al_16MW_noNe.npy
data_Heating_Geo/fhi_b2fplasmf_al_32MW_noNe.npy
data_Heating_Geo/fhi_b2fplasmf_co_8MW_noNe.npy
data_Heating_Geo/fhi_b2fplasmf_co_16MW_noNe.npy
data_Heating_Geo/fhi_b2fplasmf_co_32MW_noNe.npy
data_Heating_Geo/fht_b2fplasmf_al_8MW_noNe.npy
data_Heating_Geo/fht_b2fplasmf_al_16MW_noNe.npy
data_Heating_Geo/fht_b2fplasmf_al_32MW_noNe.npy
data_Heating_Geo/fht_b2fplasmf_co_8MW_noNe.npy
data_Heating_Geo/fht_b2fplasmf_co_16MW_noNe.npy
data_Heating_Geo/fht_b2fplasmf_co_32MW_noNe.npy
data_Heating_Geo/fort44_b2fplasmf_al_8MW_noNe
data_Heating_Geo/fort44_b2fplasmf_al_16MW_noNe
data_Heating_Geo/fort44_b2fplasmf_al_32MW_noNe
data_Heating_Geo/fort44_b2fplasmf_co_8MW_noNe
data_Heating_Geo/fort44_b2fplasmf_co_16MW_noNe
data_Heating_Geo/fort44_b2fplasmf_co_32MW_noNe
data_Heating_Geo/na_b2fplasmf_al_8MW_noNe.npy
data_Heating_Geo/na_b2fplasmf_al_16MW_noNe.npy
data_Heating_Geo/na_b2fplasmf_al_32MW_noNe.npy
data_Heating_Geo/na_b2fplasmf_co_8MW_noNe.npy
data_Heating_Geo/na_b2fplasmf_co_16MW_noNe.npy
data_Heating_Geo/na_b2fplasmf_co_32MW_noNe.npy
data_Heating_Geo/ne_b2fplasmf_al_8MW_noNe.npy
data_Heating_Geo/ne_b2fplasmf_al_16MW_noNe.npy
data_Heating_Geo/ne_b2fplasmf_al_32MW_noNe.npy
data_Heating_Geo/ne_b2fplasmf_co_8MW_noNe.npy
data_Heating_Geo/ne_b2fplasmf_co_16MW_noNe.npy
data_Heating_Geo/ne_b2fplasmf_co_32MW_noNe.npy
data_Heating_Geo/po_b2fplasmf_al_8MW_noNe.npy
data_Heating_Geo/po_b2fplasmf_al_16MW_noNe.npy
data_Heating_Geo/po_b2fplasmf_al_32MW_noNe.npy
data_Heating_Geo/po_b2fplasmf_co_8MW_noNe.npy
data_Heating_Geo/po_b2fplasmf_co_16MW_noNe.npy
data_Heating_Geo/po_b2fplasmf_co_32MW_noNe.npy
data_Heating_Geo/rcxhi_b2fplasmf_al_8MW_noNe.npy
data_Heating_Geo/rcxhi_b2fplasmf_al_16MW_noNe.npy
data_Heating_Geo/rcxhi_b2fplasmf_al_32MW_noNe.npy
data_Heating_Geo/rcxhi_b2fplasmf_co_8MW_noNe.npy
data_Heating_Geo/rcxhi_b2fplasmf_co_16MW_noNe.npy
data_Heating_Geo/rcxhi_b2fplasmf_co_32MW_noNe.npy
data_Heating_Geo/rqrad_b2fplasmf_al_8MW_noNe.npy
data_Heating_Geo/rqrad_b2fplasmf_al_16MW_noNe.npy
data_Heating_Geo/rqrad_b2fplasmf_al_32MW_noNe.npy
data_Heating_Geo/rqrad_b2fplasmf_co_8MW_noNe.npy
data_Heating_Geo/rqrad_b2fplasmf_co_16MW_noNe.npy
data_Heating_Geo/rqrad_b2fplasmf_co_32MW_noNe.npy
data_Heating_Geo/rrahi_b2fplasmf_al_8MW_noNe.npy
data_Heating_Geo/rrahi_b2fplasmf_al_16MW_noNe.npy
data_Heating_Geo/rrahi_b2fplasmf_al_32MW_noNe.npy
data_Heating_Geo/rrahi_b2fplasmf_co_8MW_noNe.npy
data_Heating_Geo/rrahi_b2fplasmf_co_16MW_noNe.npy
data_Heating_Geo/rrahi_b2fplasmf_co_32MW_noNe.npy
data_Heating_Geo/rrana_b2fplasmf_al_8MW_noNe.npy
data_Heating_Geo/rrana_b2fplasmf_al_16MW_noNe.npy
data_Heating_Geo/rrana_b2fplasmf_al_32MW_noNe.npy
data_Heating_Geo/rrana_b2fplasmf_co_8MW_noNe.npy
data_Heating_Geo/rrana_b2fplasmf_co_16MW_noNe.npy
data_Heating_Geo/rrana_b2fplasmf_co_32MW_noNe.npy
data_Heating_Geo/rsahi_b2fplasmf_al_8MW_noNe.npy
data_Heating_Geo/rsahi_b2fplasmf_al_16MW_noNe.npy
data_Heating_Geo/rsahi_b2fplasmf_al_32MW_noNe.npy
data_Heating_Geo/rsahi_b2fplasmf_co_8MW_noNe.npy
data_Heating_Geo/rsahi_b2fplasmf_co_16MW_noNe.npy
data_Heating_Geo/rsahi_b2fplasmf_co_32MW_noNe.npy
data_Heating_Geo/rsana_b2fplasmf_al_8MW_noNe.npy
data_Heating_Geo/rsana_b2fplasmf_al_16MW_noNe.npy
data_Heating_Geo/rsana_b2fplasmf_al_32MW_noNe.npy
data_Heating_Geo/rsana_b2fplasmf_co_8MW_noNe.npy
data_Heating_Geo/rsana_b2fplasmf_co_16MW_noNe.npy
data_Heating_Geo/rsana_b2fplasmf_co_32MW_noNe.npy
data_Heating_Geo/te_b2fplasmf_al_8MW_noNe.npy
data_Heating_Geo/te_b2fplasmf_al_16MW_noNe.npy
data_Heating_Geo/te_b2fplasmf_al_32MW_noNe.npy
data_Heating_Geo/te_b2fplasmf_co_8MW_noNe.npy
data_Heating_Geo/te_b2fplasmf_co_16MW_noNe.npy
data_Heating_Geo/te_b2fplasmf_co_32MW_noNe.npy
data_Heating_Geo/ti_b2fplasmf_al_8MW_noNe.npy
data_Heating_Geo/ti_b2fplasmf_al_16MW_noNe.npy
data_Heating_Geo/ti_b2fplasmf_al_32MW_noNe.npy
data_Heating_Geo/ti_b2fplasmf_co_8MW_noNe.npy
data_Heating_Geo/ti_b2fplasmf_co_16MW_noNe.npy
data_Heating_Geo/ti_b2fplasmf_co_32MW_noNe.npy
data_Heating_Geo/fhe_b2fplasmf_co_8MW_noNe_sep.npy
data_Heating_Geo/fhe_b2fplasmf_co_16MW_noNe_sep.npy
data_Heating_Geo/fhe_b2fplasmf_co_32MW_noNe_sep.npy
data_Heating_Geo/fhe_b2fplasmf_SAS_8MW_noNe_sep.npy
data_Heating_Geo/fhe_b2fplasmf_SAS_16MW_noNe_sep.npy
data_Heating_Geo/fhe_b2fplasmf_SAS_32MW_noNe_sep.npy
data_Heating_Geo/fhi_b2fplasmf_co_8MW_noNe_sep.npy
data_Heating_Geo/fhi_b2fplasmf_co_16MW_noNe_sep.npy
data_Heating_Geo/fhi_b2fplasmf_co_32MW_noNe_sep.npy
data_Heating_Geo/fhi_b2fplasmf_SAS_8MW_noNe_sep.npy
data_Heating_Geo/fhi_b2fplasmf_SAS_16MW_noNe_sep.npy
data_Heating_Geo/fhi_b2fplasmf_SAS_32MW_noNe_sep.npy
data_Heating_Geo/fht_b2fplasmf_co_8MW_noNe_sep.npy
data_Heating_Geo/fht_b2fplasmf_co_16MW_noNe_sep.npy
data_Heating_Geo/fht_b2fplasmf_co_32MW_noNe_sep.npy
data_Heating_Geo/fht_b2fplasmf_SAS_8MW_noNe_sep.npy
data_Heating_Geo/fht_b2fplasmf_SAS_16MW_noNe_sep.npy
data_Heating_Geo/fht_b2fplasmf_SAS_32MW_noNe_sep.npy
data_Heating_Geo/fort44_b2fplasmf_co_8MW_noNe_sep
data_Heating_Geo/fort44_b2fplasmf_co_16MW_noNe_sep
data_Heating_Geo/fort44_b2fplasmf_co_32MW_noNe_sep
data_Heating_Geo/fort44_b2fplasmf_SAS_8MW_noNe_sep
data_Heating_Geo/fort44_b2fplasmf_SAS_16MW_noNe_sep
data_Heating_Geo/fort44_b2fplasmf_SAS_32MW_noNe_sep
data_Heating_Geo/na_b2fplasmf_co_8MW_noNe_sep.npy
data_Heating_Geo/na_b2fplasmf_co_16MW_noNe_sep.npy
data_Heating_Geo/na_b2fplasmf_co_32MW_noNe_sep.npy
data_Heating_Geo/na_b2fplasmf_SAS_8MW_noNe_sep.npy
data_Heating_Geo/na_b2fplasmf_SAS_16MW_noNe_sep.npy
data_Heating_Geo/na_b2fplasmf_SAS_32MW_noNe_sep.npy
data_Heating_Geo/ne_b2fplasmf_co_8MW_noNe_sep.npy
data_Heating_Geo/ne_b2fplasmf_co_16MW_noNe_sep.npy
data_Heating_Geo/ne_b2fplasmf_co_32MW_noNe_sep.npy
data_Heating_Geo/ne_b2fplasmf_SAS_8MW_noNe_sep.npy
data_Heating_Geo/ne_b2fplasmf_SAS_16MW_noNe_sep.npy
data_Heating_Geo/ne_b2fplasmf_SAS_32MW_noNe_sep.npy
data_Heating_Geo/po_b2fplasmf_co_8MW_noNe_sep.npy
data_Heating_Geo/po_b2fplasmf_co_16MW_noNe_sep.npy
data_Heating_Geo/po_b2fplasmf_co_32MW_noNe_sep.npy
data_Heating_Geo/po_b2fplasmf_SAS_8MW_noNe_sep.npy
data_Heating_Geo/po_b2fplasmf_SAS_16MW_noNe_sep.npy
data_Heating_Geo/po_b2fplasmf_SAS_32MW_noNe_sep.npy
data_Heating_Geo/rcxhi_b2fplasmf_co_8MW_noNe_sep.npy
data_Heating_Geo/rcxhi_b2fplasmf_co_16MW_noNe_sep.npy
data_Heating_Geo/rcxhi_b2fplasmf_co_32MW_noNe_sep.npy
data_Heating_Geo/rcxhi_b2fplasmf_SAS_8MW_noNe_sep.npy
data_Heating_Geo/rcxhi_b2fplasmf_SAS_16MW_noNe_sep.npy
data_Heating_Geo/rcxhi_b2fplasmf_SAS_32MW_noNe_sep.npy
data_Heating_Geo/rqrad_b2fplasmf_co_8MW_noNe_sep.npy
data_Heating_Geo/rqrad_b2fplasmf_co_16MW_noNe_sep.npy
data_Heating_Geo/rqrad_b2fplasmf_co_32MW_noNe_sep.npy
data_Heating_Geo/rqrad_b2fplasmf_SAS_8MW_noNe_sep.npy
data_Heating_Geo/rqrad_b2fplasmf_SAS_16MW_noNe_sep.npy
data_Heating_Geo/rqrad_b2fplasmf_SAS_32MW_noNe_sep.npy
data_Heating_Geo/rrahi_b2fplasmf_co_8MW_noNe_sep.npy
data_Heating_Geo/rrahi_b2fplasmf_co_16MW_noNe_sep.npy
data_Heating_Geo/rrahi_b2fplasmf_co_32MW_noNe_sep.npy
data_Heating_Geo/rrahi_b2fplasmf_SAS_8MW_noNe_sep.npy
data_Heating_Geo/rrahi_b2fplasmf_SAS_16MW_noNe_sep.npy
data_Heating_Geo/rrahi_b2fplasmf_SAS_32MW_noNe_sep.npy
data_Heating_Geo/rrana_b2fplasmf_co_8MW_noNe_sep.npy
data_Heating_Geo/rrana_b2fplasmf_co_16MW_noNe_sep.npy
data_Heating_Geo/rrana_b2fplasmf_co_32MW_noNe_sep.npy
data_Heating_Geo/rrana_b2fplasmf_SAS_8MW_noNe_sep.npy
data_Heating_Geo/rrana_b2fplasmf_SAS_16MW_noNe_sep.npy
data_Heating_Geo/rrana_b2fplasmf_SAS_32MW_noNe_sep.npy
data_Heating_Geo/rsahi_b2fplasmf_co_8MW_noNe_sep.npy
data_Heating_Geo/rsahi_b2fplasmf_co_16MW_noNe_sep.npy
data_Heating_Geo/rsahi_b2fplasmf_co_32MW_noNe_sep.npy
data_Heating_Geo/rsahi_b2fplasmf_SAS_8MW_noNe_sep.npy
data_Heating_Geo/rsahi_b2fplasmf_SAS_16MW_noNe_sep.npy
data_Heating_Geo/rsahi_b2fplasmf_SAS_32MW_noNe_sep.npy
data_Heating_Geo/rsana_b2fplasmf_co_8MW_noNe_sep.npy
data_Heating_Geo/rsana_b2fplasmf_co_16MW_noNe_sep.npy
data_Heating_Geo/rsana_b2fplasmf_co_32MW_noNe_sep.npy
data_Heating_Geo/rsana_b2fplasmf_SAS_8MW_noNe_sep.npy
data_Heating_Geo/rsana_b2fplasmf_SAS_16MW_noNe_sep.npy
data_Heating_Geo/rsana_b2fplasmf_SAS_32MW_noNe_sep.npy
data_Heating_Geo/te_b2fplasmf_co_8MW_noNe_sep.npy
data_Heating_Geo/te_b2fplasmf_co_16MW_noNe_sep.npy
data_Heating_Geo/te_b2fplasmf_co_32MW_noNe_sep.npy
data_Heating_Geo/te_b2fplasmf_SAS_8MW_noNe_sep.npy
data_Heating_Geo/te_b2fplasmf_SAS_16MW_noNe_sep.npy
data_Heating_Geo/te_b2fplasmf_SAS_32MW_noNe_sep.npy
data_Heating_Geo/ti_b2fplasmf_co_8MW_noNe_sep.npy
data_Heating_Geo/ti_b2fplasmf_co_16MW_noNe_sep.npy
data_Heating_Geo/ti_b2fplasmf_co_32MW_noNe_sep.npy
data_Heating_Geo/ti_b2fplasmf_SAS_8MW_noNe_sep.npy
data_Heating_Geo/ti_b2fplasmf_SAS_16MW_noNe_sep.npy
data_Heating_Geo/ti_b2fplasmf_SAS_32MW_noNe_sep.npy
Crude_Power_Balance.png
balance_SAS_Ne0_32MW.nc
Crude_Power_Balance.png
Crude_Power_Balance.png
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
data_Heating_Geo/fch_b2fplasmf_co_8MW_noNe_sep.npy
data_Heating_Geo/fch_b2fplasmf_co_16MW_noNe_sep.npy
data_Heating_Geo/fch_b2fplasmf_co_32MW_noNe_sep.npy
data_Heating_Geo/fch_b2fplasmf_SAS_8MW_noNe_sep.npy
data_Heating_Geo/fch_b2fplasmf_SAS_16MW_noNe_sep.npy
data_Heating_Geo/fch_b2fplasmf_SAS_32MW_noNe_sep.npy
SOLPS_control_codes/b2fplasmf_SAS_8MW_noNe_sep.txt
